body {
    background-color: black;
}

h1 {
    color: white;
}

p {
    color: white;
}

a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 5px;

}
a:hover {
    border-radius: 10px;
    background-color: crimson;
}